<!DOCTYPE HTML>
<html>
  <head>
    <title>
      HackCincy 2018
    </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap/less/bootstrap.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <div id="container" class="container">
      <div id="jumbotron" class="jumbotron">
        <h1>
          HackCincy 2018
        </h1>
        <!-- <i class="fas fa-music"></i> -->
      </div>
      <div id="account-acces-panels" class="row">
        <div class="col-md-6">
          <div id="signup-panel" class="panel panel-primary">
            <div class="panel-heading">
              <h1>
                Login
              </h1>
            </div>
            <div class="form-group panel-body">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="submit_credentials" class="btn btn-success">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>